#banner {
    ul.slides {
        li.slide.futs {
            background-image: url('../img/slider-futs.png');
            height: 400px;
            background-repeat: no-repeat;
            background-size: cover;
            .annonce {
                width: 25%;
                position: absolute;
                right: 150px;
                margin-top: 80px;
                h2 {
                    text-transform: capitalize;
                }
                .price {
                    color: #fff;
                    background: @green;
                    max-width: 70px;
                    padding: 15px 7px;
                    margin-bottom: 10px;
                    font-weight: bold;
                }
                .share-icons {
                    li {
                        display: inline-block;
                        list-style-type: none;
                        padding: 7px;
                        color: @black;
                        background: #fff;
                        margin-right: 1px;
                        a {
                            margin: 5px 5px 5px 5px;
                            line-height: 1em;
                            &:hover {
                                color: @green;
                            }
                        }
                    }
                }
            }
        }
    }
}

#sales {
    ul {
        background: @black;
        color: #fff;
        text-align: center;
        li {
            display: inline-block;
            position: relative;
            max-height: 218px;
            a {
                color: #fff;
                padding: 15px;
                position: absolute;
                display: block;
                top: 40%;
                left: 20%;
                vertical-align: middle;
                background: @black;
                text-align: center;
                h4 {
                    margin: 5px;
                    text-align: center;
                }
            }
        }
        .on-sale {
            margin-left: 17px;
        }
        .special-offers {
            img {
                height: 218px;
                width: 320px;
            }
        }
    }
}

#shop-items {
    background: @light;
    article {
        margin-left: 200px;
        padding: 30px 0;
        ul.shop-items {
            width: 85%;
            margin-top: 15px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            align-content: flex-start;
            li.shop-item {
              position: relative;
                flex-grow: 1;
                list-style-type: none;
                background: #fff;
                text-align: center;
                margin-right: 15px;
                img {
                    width: 165px;
                    height: 244px;
                }
                .on-sale-badge {
                    background: @black;
                    color: #fff;
                    position: absolute;
                    top: 0;
                    right: 10px;
                    z-index: 9999;
                    text-transform: uppercase;
                    padding: 20px 7px;

                }
                .item-data {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-content: center;
                    justify-content: flex-start;
                    align-items: center;
                    section {
                        margin-left: 10px;
                        padding: 10px 15px;
                    }
                    .price {
                        background: @green;
                        color: #fff;
                    }
                    .title {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
