nav
  ul.menu-navigation
    li
      a(href='index.html')
        | home
    li
      a(href='produts.html')
        | products
    li
      a(href='#')
        | about
    li
      a(href='#')
        | pages
    li
      a(href='#')
        | blog
    li
      a(href='#')
        | contact
  ul.cart
    li
      a(href='#')
        span.glyphicon.glyphicon-star-empty
        span.badge
          | 30
    li
      a(href='#')
        span.glyphicon.glyphicon-shopping-cart
        span.badge.green
          | 0
